<h1>새 글을 등록해 보아요!</h1>
<form action='/notes' method='POST'>
  <input name='authenticity_token' type='hidden' value=<%= form_authenticity_token %>></input>
  <input name='input_title' type='text'></input>
  <input name='input_content' type='text'></input>
  <input type='submit'></input>
</form>